<!-- leaderboard.html -->
{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block heading %}Leaderboard{% endblock %}
{% block content %}
<div class="container">
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% if not session.get('opted_out_of_leaderboard') or user.user_id != current_user.user_id %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.points }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
@