{% extends "base.html" %}
{% block title %}Public Decks{% endblock %}
{% block heading %}Public Decks{% endblock %}
{% block content %}
    <style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }

    .btn-group-vertical {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .btn {
        width: 40%;
        text-align: center;
    }

    .table thead th {
        text-align: center;
    }

    .table {
        width: 55%;
        margin: 0 auto;
    }
</style>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Deck Name</th>
                <th class="num-col">Cards</th>
                <th class="num-col">Creator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for deck in decks %}
            <tr>
                <td><a href="{{ url_for('decks.view_deck', deck_id=deck['deck_id']) }}">{{ deck['name'] }}</a></td>
                <td class="num-col">{{ deck['cards'] }}</td>
                <td class="num-col">{{ deck['creator'] }}</td>
                <td>
                    <div class="btn-group-vertical">
                        <a href="{{ url_for('decks.view_deck', deck_id=deck['deck_id']) }}" class="btn btn-primary">View Deck</a>
                        <a href="{{ url_for('decks.clone_deck', deck_id=deck['deck_id']) }}" class="btn btn-secondary">Clone Deck</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}





