{% extends "base.html" %}
{% block title %}Public Decks{% endblock %}
{% block heading %}Public Decks{% endblock %}
{% block content %}
    <style>
    .table td, .table th {
        vertical-align: middle;
        text-align: center;
    }

    .btn-group-vertical {
        display: flex;
        flex-direction: column;
        gap: 5px; /* Adjusts the space between buttons */
    }

    .btn {
        width: 40%; /* Ensures buttons take full width within their container */
        text-align: center;
    }

    .table thead th {
        text-align: center; /* Center align the table header text */
    }

    .table {
        width: 55%; /* Adjust this percentage to control the overall width of the table */
        margin: 0 auto; /* Center the table on the page */
    }
</style>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Deck Name</th>
                <th class="num-col">Cards</th>
                <th class="num-col">Creator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for deck in decks %}
            <tr>
                <td><a href="{{ url_for('decks.view_deck', deck_id=deck['deck_id']) }}">{{ deck['name'] }}</a></td>
                <td class="num-col">{{ deck['cards'] }}</td>
                <td class="num-col">{{ deck['creator'] }}</td>
                <td>
                    <div class="btn-group-vertical">
                        <a href="{{ url_for('decks.view_deck', deck_id=deck['deck_id']) }}" class="btn btn-primary">View Deck</a>
                        <a href="{{ url_for('decks.clone_deck', deck_id=deck['deck_id']) }}" class="btn btn-secondary">Clone Deck</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}





