{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block heading %}Homepage{% endblock %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-4">Welcome to the Flashcard Creation Application!</h3>
    <p>This app is designed to help you create, manage, and review flashcards effectively. By utilising the biweekly Leitner Review Schedule, you'll be able to maximise your learning retention through spaced repetition and retrieval practice.</p>

    <h4 class="mt-5">The Leitner Review System</h4>
    <p>The Leitner System is a well-established method for organising your study sessions in a way that prioritises both efficiency and effective memory retention. The system divides your flashcards into different "decks" or "boxes" based on how well you know the material. Here's how it works:</p>
    <img src="{{ url_for('static', filename='homepage/leitner-system-diagram.png') }}" alt="Spaced Repetition Benefits" width="500" height="300" class="img-fluid mt-1 mb-1">
    <p>Each deck represents a stage in the review process. When you correctly answer a card during a review session, it moves to the next deck, which means it will be reviewed less frequently. Conversely, if you answer a card incorrectly, it moves back to the Deck 1.</p>
    <p>Therefore, the cards you struggle with are reviewed more often, while those you know well are reviewed less frequently. This approach allows you to allocate your time where it’s needed most.</p>

    <h4 class="mt-5">Spaced Repetition Schedule</h4>
    <p>This application uses a two-week implementation of the Leitner System, as depicted in the review schedule below:</p>
    <img src="{{ url_for('static', filename='homepage/spaced-repetition-review-schedule.png') }}" alt="Spaced Repetition Benefits" width="500" height="300" class="img-fluid mt-1 mb-1">

    <h4 class="mt-5">Get a Glimpse of Your Learning Journey</h4>
    <p>Once you're logged in, you can start creating decks, managing cards, and tracking your progress. Here's a sneak peek of what you'll experience:</p>
    <img src="{{ url_for('static', filename='images/app-interface-preview.png') }}" alt="App Interface Preview" class="img-fluid mt-3 mb-4">

    <h4 class="mt-5 text-center">Ready to Start Learning?</h4>
    <div class="text-center mt-3">
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary btn-lg">Sign Up Now</a>
    </div>
</div>
{% endblock %}


